@tailwind base;
@tailwind components;
@tailwind utilities;

/* 修改后的样式 */
html, body, #app {
  min-height: 100%; /* 使用最小高度，确保内容多时可以撑开 */
  margin: 0;
  padding: 0;
  overflow: auto !important; /* 允许滚动 */
  background: #764ba2; /* 设置一个和背景色相近的底色，防止滚动露白 */
}